<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t.groupproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DalCourse Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.RegisterClass"
            android:label="Register Class"
            android:parentActivityName=".View.Home" />
        <activity
            android:name=".View.SignUp"
            android:label="Sign Up"
            android:parentActivityName=".View.Login" />
        <activity android:name=".View.Home" />
        <activity
            android:name=".View.CourseLists"
            android:parentActivityName=".View.RegisterClass" />
        <activity android:name=".View.UserInfoInit" />
        <activity android:name=".View.UserInfo" />
        <activity android:name=".View.Tuition" />
        <activity android:name=".View.Schedule" />
        <activity android:name=".View.MyClass" />
        <activity android:name=".View.RegisterCourse" />
        <activity android:name=".View.SectionLists" />
        <activity android:name=".View.EditCourse"></activity>
    </application>

</manifest>