<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t.groupproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DalCourse Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterClass"
            android:label="Register Class"
            android:parentActivityName=".Home" />
        <activity
            android:name=".SignUp"
            android:label="Sign Up"
            android:parentActivityName=".Login" />
        <activity android:name=".Home" />
        <activity
            android:name=".CourseLists"
            android:parentActivityName=".RegisterClass" />
        <activity android:name=".UserInfoInit" />
        <activity android:name=".UserInfo" />
        <activity android:name=".Tuition" />
        <activity android:name=".Schedule" />
        <activity android:name=".MyClass" />
        <activity android:name=".RegisterCourse" />
        <activity android:name=".SectionLists" />
        <activity android:name=".UserLists"></activity>
    </application>

</manifest>